* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}

:root {
    --nero-100: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --deep-blue: rgba(20, 25, 34, 1);
    --dark-grey: rgba(40, 40, 40, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-grey: rgba(113, 113, 113, 1);
    --lime-green: rgba(173, 255, 47, 1);

}

body {
    font-family: sans-serif;
}

.testo-grassetto {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.flex-column {
    flex-flow: column;
}

.flex-row {
    flex-flow: row wrap;
}

.align-center {
    align-items: center;
}

/* .align-start {
    align-items: flex-start;
} */

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.color-white {
    color: white;

}

h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

h1 {
    font-size: 30px;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button-upgrade {
    display: block;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 40px;
    margin-top: 30px;
    transition: transform 1s;
}


.barra-top a {
    color: white;
    text-decoration: none;
}

.top-main-body {
    position: fixed;
    top: 0;
    right: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}

main {
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

.barra-top {
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 800;

}

.barra-alto {
    height: calc(100% - 80px);
    overflow: hidden;
    width: 100%;
}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--deep-blue);
    overflow-y: auto;
}

/* barra laterale  */

.barra-laterale a {
    text-decoration: none;
    color: var(--text-grey);
}

.barra-laterale {
    width: 230px;
    height: 100%;
    background-color: var(--nero-100);
    /* display: flex; */
    /* flex-flow: column; */
    color: white;
    min-height: 480px;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: var(--text-grey);
}

.spaziatura {
    padding-left: 10px;
    padding-top: 20px;
}

#logo {
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
.inner{
    height: 100%;
}
.icona:hover {
    border-left: 2px solid var(--lime-green);
}

.icona {
    height: 30px;
    border-left: 2px solid rgb(0 0 0);
    height: 30px;
}

.spazio {
    margin-bottom: 10px;
}

.navigation span {
    padding-left: 0.3rem;
    color: var(--text-grey);
}

.playlist {
    overflow: hidden;
    padding-top: 20px;
    padding-left: 10px;
    
}

.playlist span {
    padding-top: 30px;
}

.fa-square-plus {
    font-size: 40px
}

.list {
    max-height: 200px;
    /* height: 50%; */
    padding-left: 10px;
    padding-top: 20px;
    line-height: 30px;
    width: 100%;
    overflow-y: auto;
   
}

.testa {
    height: 80px;
    width: 100%;
    background-color: var(--nero-100);
}

.testa p {
    padding-left: 10px;
}

.installa {
    /* padding-top: 120px; */
    padding-bottom: 10px;
    padding-left: 10px;
}

.download {
    height: 20px;
}

hr {
    width: auto;
    border: 0.5px solid var(--text-grey);
    width: 90%;
}

.profilo {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-profile {
    background-color: var(--text-grey);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.img-profile img {
    height: 1.6rem;
}

.profile span {
    padding-left: 10px;
}


/* inner content  */

.inner-content {
    height: 100%;
    color: white;
    margin-top: 0px;
    overflow-y: auto;
    padding-top: 100px;
}

.navbar {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titolo-recenti {
    margin-top: 30px;
    margin-left: 10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
}

.ascoltati {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.album {
    text-align: center;
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.album span {
    font-size: 14px;
}

.immagine {
    position: relative;
}

.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    display: none;
}

.album img {
    max-width: 100%;
    transition: transform 1s;
}

#youg {
    border-radius: 50%;
}

#einaudi {
    border-radius: 50%;
}

.option {
    font-size: 14px;
    margin-right: 30px;
    color: #616369;
    font-weight: 700;
    /* padding-top: 100px; */
}

.option a {
    color: white;
    text-decoration: none;
}

.spazio-grigio {
    padding-top: 20px;
    color: #616369;
}

/* footer  */

footer {
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
    color: var(--text-white);
    position: fixed;
    bottom: 0;
    z-index: 900;

}

footer i {
    cursor: pointer;
}

footer .foot-left i {
    padding-right: 30px;
}

footer .foot-right i {
    padding-right: 30px;
}

footer .foot-left .playing-album {
    padding-right: 2rem;
}

footer .foot-left .playing-album div:first-of-type {
    margin-right: 10px;
}

footer .foot-left img {
    margin-left: 10px;
    width: 50px;
}

footer .foot-left i {
    color: var(--text-grey);
}

footer .foot-center .controls {
    padding-bottom: 1rem;
}

footer .foot-center .controls i {
    padding-right: 1rem;
   
}

footer .foot-center .controls i.fa-circle-play {
    font-size: 23px;
  
}

footer .track-bar progress {
    width: 30vw;

}

#volume {
    margin-right: 10px;
}

/* hover */

.immagine:hover img {
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;

}

.cover:hover img {
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
}

.album:hover .fa-play-circle {
    display: block;
}

.navbar a:hover {
    color: var(--lime-green);
}

.button-upgrade:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.barra-laterale a:hover {
    cursor: pointer;
    color: white;

}

/* media query */
@media screen and (max-width: 1200px) {
    .album {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 950px) {
    .album {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 730px) {
    .album {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 500px) {
    .album {
        width: 100%;
    }
}