* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}

:root {
    --nero-100: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.5);
    --deep-blue: rgba(20, 25, 34, 1);
    --dark-grey: rgba(40, 40, 40, 1);
    --text-white: rgba(255, 255, 255, 1);
    --text-grey: rgba(113, 113, 113, 1);
    --lime-green: rgba(173, 255, 47, 1);
}

.flex {
    display: flex;
}

.color-white {
    color: var(white);
   
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button-upgrade {
    display: block;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 12px;
    margin: 20px 20px;
    transition: transform 1s;
}
.button-upgrade:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.barra-top a {
    color: white;
    text-decoration: none;
}

.top-main-body {
    position: fixed;
    top: 0;
    right: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}

main {
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

.barra-top {
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 800;

}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--deep-blue);
}


.barra-laterale {
    width: 230px;
    height: 100%;
    background-color: var(--nero-100)
}

#logo {
    height: 60px;
    display: inline;
    margin-top: 20px;
}

/* inner content  */

.inner-content {
    height: 100%;
    color: white;
    margin-top: 0px;
    overflow-y: auto;
}

.navbar {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar a:hover{
    color: red;
}
.titolo-recenti{
    margin-top: 30px;
    margin-left: 10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
}
.ascoltati{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.album{
    text-align: center;
    width: calc((100% / 6 ) - 20px);
    margin: 0 10px;
}
.immagine{
    position: relative;
}
#play{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
}
.album img {
    max-width: 100%;
    transition: transform 1s;
}
.album img:hover {
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
}
#youg{
    border-radius: 50%;
}
#einaudi{
    border-radius: 50%;
}
.option {
    font-size: 14px;
    margin-right: 30px;
    color: #616369;
    font-weight: 700;
    padding-top: 100px;
}

.option a {
    color: white;
    text-decoration: none;
}
.spazio-grigio{
    padding-top: 20px;
    color: #616369;
}
/* footer  */

footer {
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 900;
}